body {
    background-color: #4e54c8 !important;
}

.fa-cart-shopping {
    display: inline-block;
    position: absolute;
    left: 90%;
    font-size: 25px;
    margin-top: 8px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.fa-cart-shopping:hover {
    color: #4e54c8;
    transition-delay: 0.5s;
    transition-duration: 1s;
}

.preferencia>h1 {
    color: white;
    font-family: 'Open Sans' sans-serif;
    text-align: center;
    margin-top: 40px;
}

.box-1>p {
    margin-top: 20px !important;
}

.box-2>p {
    margin-top: 20px;
}


.box-3>p {
    margin-top: 20px;
}
.fa-clock {
    font-size: 50px;
    margin-top: 20px;
    text-decoration: none !important;
    color: black;
}

.fa-piggy-bank {
    font-size: 50px;
    margin-top: 20px;
    text-decoration: none !important;
    color: black;
}

.fa-circle-check {
    font-size: 50px;
    margin-top: 20px;
    text-decoration: none !important;
    color: black;
}
.fa-clock:hover{
    color: #4e54c8;
}
.fa-piggy-bank:hover{
    color: #4e54c8;
}
.fa-circle-check:hover{
    color: #4e54c8;
}