/* Botar sempre a tag !important por causa do bootstrap*/
* {
    padding: 0 !important;
    margin: 0 !important;
}
h1 {
    font-family: 'Lato' sans-serif !important;
    text-align: center !important;
    color: white !important;
}